# Hardhat / Deployment
PRIVATE_KEY=your_deployer_private_key_here
PRIVATE_KEY_MAINNET=your_mainnet_deployer_private_key_here

# Network RPC
RPC_URL=https://your-monad-rpc-endpoint
RPC_URL_TESTNET=https://your-monad-testnet-rpc-endpoint

# Backend
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
REDIS_URL=redis://localhost:6379

# Contract Addresses
FACTORY_CONTRACT_ADDRESS=your_p2p_factory_contract_address
CHAIN_ID=143
